@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.col {
  color: #61dafb;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    border: 1% black solid;
    margin: 0 auto;
}

.flex-item {
    width: 25%;
    height: 30%;
    border: 1% black solid;
    background: #369;
}
.myBox {
  border: none;
  padding: 5%;
  font: 24px/36px sans-serif;
  width: 80%;
  height: 25%;
  overflow: scroll;
  }
  /* Scrollbar styles */
::-webkit-scrollbar {
  width: 1.5%;
  height: 1%;
  }
  
  ::-webkit-scrollbar-track {
  border: 1px solid black;
  border-radius: 1%;
  }
  
  ::-webkit-scrollbar-thumb {
  background: black;  
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: grey;  
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 50%;
    position: relative;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2% 3%;
  }
  .invisible{
    visibility: hidden;
  }
  
  table.blueTable {
    table-layout: fixed;
    border: 1px solid #000000;
    background-color: #EEBEAC;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    overflow:auto;  
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }

  table.blueTable tbody tr:hover {
    background-color: rgba(247, 125, 88, 0.247);
  }
  
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tbody td input {
    margin-left:30%;
  }
  table.blueTable tr:nth-child(even) {
    background: #FFFFFF;
  }
  table.blueTable thead {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    border-bottom: 3px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border-left: 1px solid #000000;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #F5F5F5;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #f6f6f6 66%, #F5F5F5 100%);
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #f6f6f6 66%, #F5F5F5 100%);
    background: linear-gradient(to bottom, #f7f7f7 0%, #f6f6f6 66%, #F5F5F5 100%);
    border-top: 2px solid #444444;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #A48169;
    color: #FFFFFF;
    padding: 2% 3%;
    border-radius: 5px;
  }
  .card .close{
    position: absolute;
    background-color: grey;
    cursor: pointer;
    top: 10px;
    right: 10px;
  }
  .btngroup {
    display: flex;
  }
  .btngroup .button {
    background-color: rgb(236, 175, 150); 
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 90%;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  }
  
  .btn-group {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .btn-group button {
    background-color: rgb(236, 175, 150); /* Green background */
    border: 1px solid black;
    color: black; /* White text */
    padding: 1% 2%; /* Some padding */
    margin: 5%;
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */

  }
  .button:hover {
    background-color: gainsboro;
    color: black;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: auto;
    padding:5%;
    max-width: 500px;
    float:left;
  }
  
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #684325;
  }
  table {
    overflow: scroll;
    margin: 3%;
  }
  .table-wrapper {
    max-width: 100%;
  }
  .card-list-table {
    background: white;
  }
  .addPortfolio{
    padding: 3%;
    display: flex;
  }
  a.close{
    position: relative;
    margin-top:-3%;
    margin-right:-3%;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

.close:before {
    content: "×";
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
